
.App {
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column
}

.App-link {
  color: #61dafb;
}


.dark {
  background-color: #000000;
  transition: background-color 2s ease; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
